{% extends 'core/base.html' %}
{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %} {% endblock %}

{% block headers %}
<h1>Acerca De</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<!-- Contenido Principal -->
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Rolando Castillo</h2>   
          <p class="text-justify">Ingeniero en Sistemas Computacionales por el Instituto Tecnológico de Querétaro, especialidad
          en sistemas distribuidos. Me encanta seguir aprendiendo y actualizar mis conocimietnos, abordar mis debilidades y mejorar mis fortalezas.</p>
          <p class="text-justify">En mi vida profesional he tenido la oportunidad de participar en proyectos multidiciplinares,
          conocer el cliclo de vida del software y trabajar directa e indirectamente en cada una de sus facetas, 
          tengo experiencia en el sector bancario en areas de desarrollo, arquitectura y gestión de software. Desde hace poco 
          menos de un año que estoy viajando por Europa y aprendiendo nuevos idiomas y culturas. Mis pasatiempos 
          favoritos es leer, administrar la comunidad de lectores la cual lleva el nombre de Bibliofílo y aprender nuevas cosas además
          de eventualmente escribir el un blog hacerca de tecnoñogía, buscar y participar en proyectos Open Source.</p>
        </div>
      </div>  

  {% endblock %}
