{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %} {% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading"></span>
{% endblock %}

{% block content %}
    <!-- Contenido Principal -->
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Comunicate por cualquiera de los siguientes medios, estaré encantado de ayudarte.</p>
          <br>
          <p><b>Teléfono:</b> +353 899 48 0782</p>
          <p><b>Email:</b> castillor493@gmail.com</p>
          <p><b>LinkedIn:</b><a href="https://www.linkedin.com/in/rolando-c-567386150/"> Rolando Castillo</a></p>
        </div>
      </div>
    
{% endblock %}
