    {% extends 'core/base.html' %}

    {% block title %}Portada{% endblock %}
    {%block background %} {% load static %} {% static 'core/img/home-bg.jpg' %} {% endblock %}

    {% block headers %}
      <h1>Rolando Castillo </h1>
      <span class="subheading">Ingeniero En Sistemas | Emprendedor</span>
    {% endblock %}
    {% block content %}
    

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="text-center">“En tiempos de cambio, quienes estén abiertos al aprendizaje se adueñarán del futuro, mientras que aquellos que creen saberlo todo estarán bien equipados para un mundo que ya no existe.”</p>
    <p class="text-center">Eric Hoffer</p>
        </div>
      </div>
    {% endblock %}

